In [1]:
import os
import warnings

In [4]:
dataset = "flights.csv"
# currnet file directory
wd = os.getcwd()
# check the dataset is in the directory
if not dataset in os.listdir(wd):
    warnings.warn("There is no input data", UserWarning)

In [6]:
import pandas as pd # data processing, CSV file I/O
import numpy as np

# read the dataset
flights=pd.read_csv(os.path.join(wd, dataset))

In [7]:
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

In [8]:
flights = flights[flights["dest"] == "SFO"]

In [9]:
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
13,2013,1,1,558.0,600,-2.0,923.0,937,-14.0,UA,1124,N53441,EWR,SFO,361.0,2565,6,0,2013-01-01 06:00:00
26,2013,1,1,611.0,600,11.0,945.0,931,14.0,UA,303,N532UA,JFK,SFO,366.0,2586,6,0,2013-01-01 06:00:00
55,2013,1,1,655.0,700,-5.0,1037.0,1045,-8.0,DL,1865,N705TW,JFK,SFO,362.0,2586,7,0,2013-01-01 07:00:00
82,2013,1,1,729.0,730,-1.0,1049.0,1115,-26.0,VX,11,N635VA,JFK,SFO,356.0,2586,7,30,2013-01-01 07:00:00
87,2013,1,1,734.0,737,-3.0,1047.0,1113,-26.0,B6,643,N625JB,JFK,SFO,350.0,2586,7,37,2013-01-01 07:00:00

In [10]:
sample = flights.sample(n = 25)

In [16]:
sample["arr_delay"].describe()

count     24.000000
mean       4.625000
std       76.187305
min      -40.000000
25%      -26.250000
50%      -15.000000
75%        2.000000
max      345.000000
Name: arr_delay, dtype: float64

In [26]:
sample["arr_delay"].quantile(0.98)

212.05999999999975

In [27]:
sample.loc[sample["arr_delay"] <= 90, "proportion"] = "TRUE"
sample.loc[sample["arr_delay"] > 90, "proportion"] = "FALSE"

In [30]:
sample["proportion"].value_counts(normalize=True)

TRUE     0.958333
FALSE    0.041667
Name: proportion, dtype: float64

https://www.kaggle.com/kanncaa1/statistical-learning-tutorial-for-beginners
https://www.kaggle.com/pmarcelino/comprehensive-data-exploration-with-python